### Example user template template
### Example user template

# IntelliJ project files
.idea
/logs/
/crawler/.gradle/
/crawler/build/
/mall-commodity/.gradle/
/mall-order/.gradle/
/mall-promotion/.gradle/
