<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.candyboyou.commodity.business.mapper.admin.TCommoditySkuMapper">

    <sql id="baseColumn">
        id,
        commodityId,
        price,
        promotion_price promotionPrice,
        stock,
        lock_stock lockStock,
        low_stock lowStock,
        sale
    </sql>

    <insert id="insertSkuAttr">
        INSERT INTO
            t_commodity_sku
        SET
            name = #{saveParam.name}, parent_attribute_id = #{saveParam.attributeId}, is_related = #{saveParam.isRelated},
            select_type = #{saveParam.selectedType}, value_list = #{saveParam.valueIds}
    </insert>

    <insert id="saveSkuAttributeValue" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            t_commodity_sku
            (commodity_id, `name`, price, promotion_price, vip_price, market_price, stock, low_stock, lock_stock, buy_limit)
        VALUES
            <foreach collection="params" item="param" open="(" separator="," close=")">
                (#{param.id}, #{param.name}, #{param.price}, #{param.promotionPrice}, #{param.vipPrice}, #{param.marketPrice}, #{param.stock}, #{param.lowStock}, #{param.lockStock}, #{param.buyLimit})
            </foreach>
    </insert>

    <insert id="saveSingleSkuAttributeValue">
        INSERT INTO
            t_commodity_sku
            (commodity_id, `name`, price, promotion_price, vip_price, market_price, stock, low_stock, lock_stock, buy_limit)
        VALUES
            (#{param.id}, #{param.name}, #{param.price}, #{param.promotionPrice}, #{param.vipPrice}, #{param.marketPrice}, #{param.stock}, #{param.lowStock}, #{param.lockStock}, #{param.buyLimit})
    </insert>

    <update id="updateSupAttr">
        UPDATE
            t_commodity_sku
        SET
            <if test="param.name != null and param.name != ''">
                name = #{param.name},
            </if>
            <if test="param.attributeId != null">
                parent_attribute_id = #{param.attributeId},
            </if>
            <if test="param.isRelated != null">
                is_related = #{param.isRelated},
            </if>
            <if test="param.selectedType != null">
                select_type = #{param.selectedType},
            </if>
            <if test="param.valueIds != null and param.valueIds != ''">
                value_list = #{param.valueIds}
            </if>
        WHERE
            id = #{param.id}
    </update>

    <update id="batchUpdateSku">
        UPDATE
            t_commodity_sku
            <trim prefix="set" suffixOverrides=",">
                <trim prefix="price =case" suffix="end,">
                    <foreach collection="updateParams" item="updateParam" index="index">
                        <if test="updateParam.price != null">
                            WHEN id = #{updateParam.id}
                            THEN #{updateParam.price}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="promotion_price =case" suffix="end,">
                    <foreach collection="updateParams" item="updateParam" index="index">
                        <if test="updateParam.promotionPrice != null">
                            WHEN id = #{updateParam.id}
                            THEN #{updateParam.promotionPrice}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="stock =case" suffix="end,">
                    <foreach collection="updateParams" item="updateParam" index="index">
                        <if test="updateParam.stock!=null">
                            WHEN id = #{updateParam.id}
                            THEN #{updateParam.stock}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="lock_stock =case" suffix="end,">
                    <foreach collection="updateParams" item="updateParam" index="index">
                        <if test="updateParam.lockStock!=null">
                            WHEN id = #{updateParam.id}
                            THEN #{updateParam.lockStock}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="low_stock =case" suffix="end,">
                    <foreach collection="updateParams" item="updateParam" index="index">
                        <if test="updateParam.lowStock!=null">
                            WHEN id = #{updateParam.id}
                            THEN #{updateParam.lowStock}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="is_valid =case" suffix="end,">
                    <foreach collection="updateParams" item="updateParam" index="index">
                        <if test="updateParam.isDelete!=null">
                            WHEN id = #{updateParam.id}
                            THEN #{updateParam.isDelete}
                        </if>
                    </foreach>
                </trim>
            </trim>
        WHERE
            id in
            <foreach collection="updateParams" item="updateParam" index="index" separator="," open="(" close=")">
                #{updateParam.id}
            </foreach>
    </update>

    <update id="batchDeleteSkuById">
        UPDATE
            t_commodity_sku
        SET
            is_valid = 0
        WHERE
            id in
            <foreach collection="delSkuIds" item="skuId" index="index" separator="," open="(" close=")">
                #{skuId}
            </foreach>
    </update>

    <delete id="deleteSupAttrById">
        DELETE
            t_commodity_sku
        WHERE
            id = #{id}
    </delete>

    <select id="selectSkuAttributeDTOs"
            resultType="pers.candyboyou.commodity.business.model.dto.SkuAttributeDTO">
        SELECT
            id,
            parent_attribute_id AS attributeId,
            name,
            value_list AS valueListStr
        FROM
            t_commodity_sku
        WHERE
            parent_attribute_id = #{attributeId}
        LIMIT #{queryParam.start}, #{queryParam.pageSize}
    </select>

    <select id="selectSkuAttributeDTOsCount" resultType="java.lang.Integer">
        SELECT
            counts(*)
        FROM
            t_commodity_sku
        WHERE
            parent_attribute_id = #{attributeId}
            AND is_valid = 1
    </select>

    <select id="selectSkuAttributeByCommodityId"
            resultType="pers.candyboyou.commodity.business.model.entity.SkuAttributeEntity">
        SELECT
            <include refid="baseColumn"></include>
        FROM
            t_commodity_sku
        WHERE
            commodity_id = #{id}
            AND is_valid = 1
    </select>

    <select id="selectSkuIdsByCommodityId" resultType="java.lang.Long">
        SELECT
            id
        FROM
            t_commodity_sku
        WHERE
              commodity_id = #{id}
            AND
              is_valid = 1
    </select>

</mapper>