<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.candyboyou.commodity.business.mapper.admin.AdminSkuAttributeMapper">

    <insert id="insertSkuAttr">
        INSERT INTO
            t_commodity_sku_attribute
        SET
            name = #{saveParam.name}, parent_attribute_id = #{saveParam.attributeId}, is_related = #{saveParam.isRelated},
            select_type = #{saveParam.selectedType}, value_list = #{saveParam.valueIds}
    </insert>

    <update id="updateSupAttr">
        UPDATE
            t_commodity_sku_attribute
        SET
            <if test="param.name != null and param.name != ''">
                name = #{param.name},
            </if>
            <if test="param.attributeId != null">
                parent_attribute_id = #{param.attributeId},
            </if>
            <if test="param.isRelated != null">
                is_related = #{param.isRelated},
            </if>
            <if test="param.selectedType != null">
                select_type = #{param.selectedType},
            </if>
            <if test="param.valueIds != null and param.valueIds != ''">
                value_list = #{param.valueIds}
            </if>
        WHERE
            id = #{param.id}
    </update>

    <delete id="deleteSupAttrById">
        DELETE
            t_commodity_sku_attribute
        WHERE
            id = #{id}
    </delete>

    <select id="selectSkuAttributeDTOS"
            resultType="pers.candyboyou.commodity.business.model.dto.SkuAttributeDTO">
        SELECT
            id,
            parent_attribute_id AS attributeId,
            name,
            value_list AS valueListStr
        FROM
            t_commodity_sku_attribute
        WHERE
            parent_attribute_id = #{attributeId}
        LIMIT #{queryParam.start}, #{queryParam.pageSize}
    </select>

    <select id="selectSkuAttributeDTOSCount" resultType="java.lang.Integer">
        SELECT
            counts(*)
        FROM
            t_commodity_sku_attribute
        WHERE
            parent_attribute_id = #{attributeId}
    </select>
</mapper>