<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.candyboyou.commodity.business.mapper.admin.AdminCategoryAttributeRelationMapper">

    <select id="getAttributeIdsByCategoryId" resultType="pers.candyboyou.commodity.business.model.dto.AttributeWithValueDTO">
        SELECT
            attribute_id attributeId,
            attribute_value_id valueId
        FROM
            t_commodity_category_attribute_relation
        WHERE
            category_id = #{categoryId}
            AND
              is_valid = 1
    </select>

</mapper>
