<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.candyboyou.commodity.business.mapper.admin.TCommodityCategoryAttributeRelationMapper">

    <select id="getAttributeIdsByCategoryId" resultType="pers.candyboyou.commodity.business.model.dto.AttributeWithValueDTO">
        SELECT
            id,
            name
        FROM
            t_commodity_attribute tca
            RIGHT JOIN
                (SELECT
                     attribute_id
                 FROM
                     t_commodity_category_attribute_relation
                 WHERE
                     category_id in ()) temp
            ON temp.attribute_id = tca.id;
    </select>

</mapper>
